
# Eclipse
.classpath
.project
.settings/
.eclipse

# Intellij # PyCharm # IDE/Editor files
.idea/
*.iml
*.iws
*.ipr

# BlueJ files
*.ctxt
 
 # Mac OS X metadata
.DS_Store

# VS Code
.vscode/*
 
# Maven ## Package Files, Compiled class & Logs
log/
target/
.factorypath
*.jar
*.war
*.ear
*.class
/bin
*.log
*.nar
*.zip
*.tar.gz
*.rar

# Test ## Allure results (note that the allure-report is in ROOT, but its results resides under testing folder)
test-output/*
allure-report/*
testing/allure-results/*
video/*
ScreenShots/*
.allure

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
# for example, from running tests in Docker), if any...
hs_err_pid*

# FOR Python with PyCharm:
# Caches
.pytest_cache/
__pycache__/

# PyCharm database
*.h2.db

# PyCharm run configurations
.run/

# PyInstaller
*.spec

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

